# General
.DS_Store
*.swp
*~
.idea/
.vscode/

# Ruby
Gemfile.lock
.bundle/
coverage/

# Redmine Plugin Specific
pkg/
test/dummy/
assets/javascripts/wiki_sidebar.js.gz
assets/stylesheets/wiki_sidebar.css.gz

# Node (if applicable for dev tools)
node_modules/

